/* Global */

:root {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    --main-color: #d4a373;
    --secondary-color: #697268;
    --dark-color: #222725;
    --input-color: #faedcd;
    --focus-color: #fefae0;
    --hover-color: #d4a353;
    --bg-color: #ccd5ae;
    --alt-bg-color: #e9edc9;
    --light-font-color: #fff;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: var(--bg-color);
    color: var(--dark-color);
}

header,
.sub-heading {
    text-align: center;
}

header {
    background-color: var(--main-color);
    color: var(--light-font-color);
    padding: 2em;
    font-size: .65em;
}

h1,
h2,
h3 {
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
}
.sub-heading {
    padding: 1.15em;
    border-bottom: .25em solid var(--dark-color);
    margin-bottom: .25em;
}
.sub-heading h2 {
    font-size: 1.25rem;
}
.sub-heading p {
    font-weight: 100;
}

fieldset {
    border: none;
}

hr {
    border: 1px solid var(--dark-color);
    margin: 0;
}
/* Contact Information */
.contact-bg {
    background-color: var(--main-color);
}

.contact-info {
    border-bottom: .125em solid var(--dark-color);
    padding: 2em 1em 1.5em;
    
}
.contact-info p > label {
    display: block;
    margin-bottom: .5em;
}
.contact-info p > input,
.contact-info p > select {
    width: 100%;
    height: auto;
    padding: 1em;
    border: 0;
    border-radius: 5px;
    background-color: var(--input-color);
}

p > input.zip {
    width: 50%;
}
::placeholder {
    text-align: right;
    font-style: italic;
    padding: .25em;
    margin: .25em;
}
/* Newsletter */
textarea {
    margin: 2em 0;
    background-color: var(--input-color);
    border-radius: .25em;
    width: 100%;
    border-style: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    background-color: var(--focus-color);
   -webkit-transition: .1s;
   transition: .1s;
   outline: 2px solid var(--dark-color);
}

.newsletter-legend {
    margin-bottom: 1em;
}
/* Button */
button {
    background-color: var(--main-color);
    padding: 1em 3em;
    border: none;
    border-radius: .25em;
    color: var(--light-font-color);
    font-size: 1.25rem;
    width: 100%;
}
button:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}
/* Footer */
footer p {
    margin-top: 1.5em;
    text-align: center;
    font-style: italic;
}

/* DRY Classes */
.radio-checkbox {
    margin-left: .75em;
}

.no-margin {
    margin: 0;
}

.legend {
    display: block;
    margin-top: 1em;
    font-size: 1.5em;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 600px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }

    p label {
        margin-top: 1em;
    }

    p > input.contact-input,
    p > select.contact-input {
        width: 75%;
    }

    p > input.zip {
        margin-right: 16.6em;
        width: 25%;
    }
}